/*
font-family：字體設定
font-size: 字體大小設定
text-align：文字位置設定

margin：給定元素設置所有四個（上下左右）方向的外邊距屬性。【auto代表置中】
border: 邊框設定
padding: 內距的設定

display：說明：https://medium.com/ui-ux%E7%B7%B4%E5%8A%9F%E5%9D%8A/display-%E5%B1%AC%E6%80%A7%E4%B8%AD%E5%B8%B8%E7%94%A8%E7%9A%84%E9%A1%9E%E5%88%A5-77eb86714d8a
*/






/* 以下為雙欄位設定 */
/* 上面已經預設全體文字顏色為灰色(gray) */

#Header{
    width:360px;
    height:80px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:#f9c81e;
}
#Sidebar{
    width:120px;
    float:left;
    height:280px;
    text-align:center;
    line-height:280px;
    font-size:15px;
    color:#ffffff;
    font-weight:bold;
    background-color:#cecece;
}
#body{
    width:240px;
    height:280px;
    text-align:center;
    line-height:280px;
    font-size:15px;
    color:#f9c81e;
    font-weight:bold;
    background-color:#fffaf3;
    float:left;
}
#Footer{
    width:360px;
    height:80px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:#f9c81e;
}